{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title">Placemark</p>
    <p class="box">
      <i class="fas fa-map fa-10x"></i>
      <i class="fas fa-plus fa-4x"></i>
      <i class="fas fa-map-marker fa-10x"></i>
      <br />
      <i>A node application that tracks placemarks and separates them to categories is a web-based program that uses Node.js as the backend framework. The application can
        also allow users to create, edit, delete placemarks
      </i>
    </p>
  </div>
</section>