{{> menu active="account"}}

<section class="section">
  {{> user-card}}
  
  <div class="box">
    <form action="/account/edit" method="POST">
      <p class="title is-4">Update Personal details</p>
      <div class="field is-grouped">
        <div class="control">
          <label class="heading">First Name</label>
          <input class="input heading" type="text" placeholder="First Name" name="firstName" />
        </div>
        <div class="control">
          <label class="heading">Last Name</label>
          <input class="input heading" type="text" placeholder="Last Name" name="lastName" />
        </div>
        <div class="control">
          <label class="heading">Password</label>
          <input class="input heading" type="password" placeholder="Password" name="password" />
        </div>
      </div>
      <div class="control">
        <button class="button is-info is-light heading">Save</button>
        <p class="heading">*Leave fields empty if you don't want to update them</p>
      </div>
    </form>
  </div>
</section>
