{{> menu}}

<section class="section">
  <div class="box">
    <p class="title is-4">{{category.title}}</p>
    <p class="heading">Category</p>
  </div>
  {{> list-placemarks}}
  {{> add-placemark}}
</section>