{{> welcome-menu active="signup"}}

<section class="section">
  <div class="box">
    <p class="title is-4">Sign up</p>
  </div>
  <form action="/register" method="POST">
    <label class="heading">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input heading" type="text" placeholder="Enter first name" name="firstName" />
        </div>
        <div class="field">
          <input class="input heading" type="text" placeholder="Enter last name" name="lastName" />
        </div>
      </div>
    </div>
    <div class="field">
      <label class="heading">Email</label>
      <input class="input heading" type="text" placeholder="Enter email" name="email" />
    </div>
    <div class="field">
      <label class="heading">Password</label>
      <input class="input heading" type="password" placeholder="Enter Password" name="password" />
    </div>
    <div class="field is-grouped">
      <button class="button is-info is-light heading">Submit</button>
    </div>
  </form>
</section>