<form class="box" action="/dashboard/addcategory" method="POST">
  <div class="field">
    <label class="heading">Category Title</label>
    <input class="input heading" type="text" placeholder="Enter category title" name="title" />
  </div>
  <button class="button is-info is-light heading">Add Category</button>
</form>