<form class="box" action="/category/{{category._id}}/addplacemark" method="POST">
  <div class="field is-grouped">
    <div class="control">
      <label class="heading">Placemark Name</label>
      <input class="input heading" type="text" placeholder="Name" name="name" />
    </div>
    <div class="control">
      <label class="heading">Description</label>
      <input class="input heading" type="text" placeholder="Description" name="description" />
    </div>
    <div class="control">
      <label class="heading">Latitude</label>
      <input class="input heading" type="text" placeholder="Latitude" name="latitude" />
    </div>
    <div class="control">
      <label class="heading">Longitude</label>
      <input class="input heading" type="text" placeholder="Longitude" name="longitude" />
    </div>
  </div>
  <button class="button is-info is-light heading">Add Placemark</button>
</form>