{{#if errors}}
  <section class="section">
    <div class="box content">
      <p class="title is-4"> There was a problem... </p>
      <ul>
        {{#each errors}}
          <li class="heading">{{message}}</li>
        {{/each}}
      </ul>
    </div>
  </section>
{{/if}}