<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" />
        </figure>
      </div>
      <div class="media-content">
        <div class="columns">
          <div class="column is-two-thirds">
            <p class="title is-4">{{user.firstName}} {{user.lastName}}</p>
            <p class="subtitle is-6">{{user.email}}</p>
          </div>
          <div class="column auto">
            {{#if user.admin}}
              <a href="/admin" class="button is-danger">Admin Dashboard</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>