<div class="box">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <span class="icon is-large">
          <i class="far fa-user fa-2x"></i>
        </span>
      </div>
      <div class="media-content">
        <div class="columns">
          <div class="column is-two-thirds">
            <p class="title is-4">{{user.firstName}} {{user.lastName}}</p>
            <p class="heading">{{user.email}}</p>
          </div>
          <div class="column auto">
            {{#if user.admin}}
              <a href="/admin" class="button is-danger is-light heading">Admin Dashboard</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>